.container {
  display: flex;
  flex-direction: column;
  background-color: #FEFEFE;
  width: 400px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.image {
  align-self: center;
  max-width:100%;
  max-height:100%;
  object-fit: contain;
}

.h3 {
  margin: 10px;
  font-size: 1.8rem;
  color: #313131;
}

.p {
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 300;
  color: #303030;
  padding: 3px 10px;
}

.links {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
}